# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# IDE files
.idea/

# Virtual env
.venv/

# Yarn
yarn.lock

# Firebase
firebaseConfig.js
firebase-adminsdk.json
firebase-config.js
/backend/credentials.py

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Backend python
backend/__pycache__/
venv/
backend/.venv/
backend/stripe/.env

# local env files
.env*.local

# typescript
*.tsbuildinfo

